{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - New Thing

{% endblock %}


{% block content %}

    <h1>New Thing</h1>

    <article>
        <form action="/add-thing" method="POST">

            <label>
                Item name:
                <input name="name" type="text" required>
            </label>

            <label>
                Item price ($):
                <input name="price" type="number" min= "0" required>
            </label>

            <label>
                Item quantity:
                <input name="quantity" type="number" min= "1" value="1" required>
            </label>
            
            <button>Add to Store</button>
        </form>
    </article>

{% endblock %}
